# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# VitePress build output
.vitepress/dist/
.vitepress/cache/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
